<!DOCTYPE html>
<html xmlns:th="http://www.thymelaef.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
	<link rel="stylesheet" th:href="@{resources/css/estilos.css}"></link>
<title>Insert title here</title>
</head>
<body>
	
	<h3>Lista de Clientes</h3>
	<table class="centered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Correo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente: ${listClientes}">
				<td th:text="${cliente.id}"></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}"></td>
				<td th:text="${cliente.mail}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>